<HTML>
<HEAD>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Plotly.js -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
  
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<title>ELISA: Emotion Analytics Query System</title>

</HEAD>
<BODY>
<div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
<SCRIPT>
var trace1 = {
  x: [1,2,3,4,5,6,7,8,9,10], 
  y: [10,20,30,40,50,60,70,80,90,100], 
  name: 'Negatives', 
  type: 'scatter'
};

//var data = [trace1, trace2];
var data = [trace1];
//var layout = {barmode: 'group'};

Plotly.newPlot('myDiv', data);
</SCRIPT>
</BODY>
</HTML>