.navbar-nav{
	
	background-color: #FFD621;
	
}
.navbar-brand{
	padding:0px;
	padding-left:10px;
}
.navbar{
	padding: 0px;
	background-color: #FFD621;
	height: 60px;
}
li .btn
{
	margin-top:8px;
	margin-right:3px;
}
.panel{
	text-align:center;
}

body{
	text-align:center;
	background-color:#E3E3E3;
}
.searchInput{
	width: 200px;
	height: 30px;
}

.quartileTable{
	text-align:center;
	width: 80%;
}
th {
    height: 50px;
	text-align:center;
}
.topHeaderTable{
	border-right: 1px solid black;
	border-left: 1px solid black;
	
}
.rowStart{
	padding-right: 4px;
	border-bottom: 1px solid black;
	border-top:  1px solid black;
}

.rowStart:hover {
	cursor: pointer;
	background-color: tomato;
}

.borderedTD{
    border: 1px solid black; 
   
}
td.borderedTD:hover {
	 background-color: tomato;
	 cursor: pointer;
	 border: 2px solid black; 
	 //color: red;
	
}
.asset_table{
	width: 90%
	border: 1px solid black;

}
.asset_tr{
	border-bottom: 1px solid black;

}
.asset_td{
    border: 1px solid black; 
    width: 50px;
}
.asset_sentence{
	max-width: 600px;
	border-top: 1px solid black;
	text-align: left;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.play_button{
	width: 32px;
	height: 32px;
}
.emo_image{
	width: 32px;
	height: 32px;
}
.container{
	margin-top: 50px;
	padding: 0px;
	text-align:center;
}

audio{
	width: 100%;
	min-width: 424px;
	padding: 0px;
	margin: 0px;
}

.progress{
	width: 100%;
}

#leftbar{
	float:left;
	width:108px;
	min-width:108px;
	/*border-width: 1px;
    border-color: #000;
    border-style: solid;*/
    box-sizing:border-box;
	background-color:#E3E3E3;
}
#rightbar{
	float: right;
	width:186px;
	min-width:186px;
	/*border-width: 1px;
    border-color: #000;
    border-style: solid;*/
    box-sizing:border-box;
	background-color:#E3E3E3;
}
#slider{
	width:100%;
	min-width: 160px;
	/*border-width: 1px;
    //border-color: #000;
    //border-style: solid;*/
	height: 120px;
	background-color:#E3E3E3;
}

div.item{
	position: relative;
    display: inline-block;
    width: 100px;
	height: 120px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.emotions{
	width: 90px;
    height: 90px;
	cursor:pointer;
}

.sliderMarker{
	width: 50px;
    height: 50px;
	opacity:0.4;
	filter:alpha(opacity=40);
}

span.caption {
	width: 100%;
	text-align: center;
	font-weight: bold;
    white-space:nowrap;
	padding-top: 4px;
    font-size:14px;
    padding-top: 4px;
	color:black;
	bottom: 0;
}